* {
	margin: 0 0;
	padding: 0 0;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

.signUpPage {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: lightgray;
	text-align: center;
}

.heading {
	position: relative;
	width: 100%;
	height: 25%;
}

.title {
	position: relative;
	width: 100%;
	height: 60%;
}

.title h1 {
	font-family: 'Anton', sans-serif;
	font-size: 400%;
}

.title h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 130%;
}

.signUpCreds {
	position: relative;
	width: 30%;
	height: 70%;
	background-color: white;
	text-align: center;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid black;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.signUpText {
	position: relative;
	height: 12%;
	width: 100%;
	display: flex;
}

.signUpText p {
	margin: auto;
	font-size: 90%;
}

.signUpCreds form {
	position: relative;
	width: 100%;
	height: 73%;
}

.signUpCreds table {
	position: relative;
	width: 100%;
	height: 88%;
	text-align: center;
	font-weight: bold;
    font-size: 80%;
}

.signUp {
	position: relative;
    width: 70%;
    margin-left: 15%;
    height: 9%;
    background-color: #0077C5;
    border-radius: 3px;
    display: flex;    
    border-color: #0077C5;
    color: white;
    font-size: 100%;
    text-decoration: none;
}

.signUp p{
    margin: auto;
}

.signUpAgreement {
	position: relative;
	height: 15%;
	width: 90%;
	padding: 0 5%;
	font-size: 75%;
}
