* {
	margin: 0 0;
	padding: 0 0;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

.loginPage {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: lightgray;
	text-align: center;
}

.heading {
	position: relative;
	width: 100%;
	height: 25%;
}

.title {
	position: relative;
	width: 100%;
	height: 60%;
}

.title h1 {
	font-family: 'Anton', sans-serif;
	font-size: 400%;
}

.title h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 130%;
}

.subHeading {
	position: relative;
	width: 100%;
	height: 20%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.loginCreds {
	position: relative;
	width: 30%;
	height: 70%;
	background-color: white;
	text-align: center;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid black;
	display: inline-block;
}

.signInText {
	position: relative;
	height: 20%;
	width: 100%;
	display: flex;
}

.signInText p {
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 90%;
}

.loginCreds form {
	position: relative;
	width: 100%;
	height: 68%;
	text-align: center;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.signIn {
	position: relative;
	width: 100%;
	height: 10%;
}

#signInButton {
	background-color: #0077C5;
	position: relative;
	width: 70%;
	height: 40%;
	border-color: #0077C5;
	border-radius: 3px;
	color: white;
}

.signInAgreement {
	position: relative;
	height: 12%;
	width: 90%;
	padding: 0 5%;
	font-family: 'Montserrat', sans-serif;
	font-size: 75%;
}

.loginCreds hr {
	position: relative;
	width: 85%;
	text-align: center;
	display: inline-block;
}
