* {
	margin: 0 0;
	padding: 0 0;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

.debateRoomPage {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: lightgray;
}

.debateRoomHeader {
    position: relative;
	width: 100%;
	height: 10%;
    background-color: #3A3B3F;
}

.accountMain {
	position: relative;
	height: 10vh;
	width: 10vh;
	background-image: url("../images/account.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	float: right;
	margin-right: 10px;
}

.titleAndVideos {
	position: relative;
	width: 75%;
	height: 90%;
	text-align: center;
	background-color: lightgray;
	float: left;
}

.roomTitle {
	position: relative;
	width: 100%;
	height: 20%;
	font-family: 'Anton', sans-serif;
	font-size: 160%;
}

.roomTitle h2 {
	line-height: 250%;
}

.videoFeeds {
	position: relative;
	width: 100%;
	height: 80%;
	background-color: lightgray;
	text-align: center;
}

.userVideo {
	position: relative;
	width: 30%;
	height: 90%;
	background-color: black;
	display: inline-block;
	margin-right: 20px;
}

.opponentVideo {
	position: relative;
	width: 30%;
	height: 90%;
	background-color: black;
	display: inline-block;
	margin-left: 20px;
}

.debateRoomSideBar {
	position: relative;
	width: 25%;
	height: 90%;
	text-align: center;
	float: right;
}

.debateDescription {
	position: relative;
	width: 100%;
	padding-top: 12%;
	height: 8%;
	display: flex;
}

/* Popup container */
.debateDescription button {
	position: relative;
	width: 60%;
	height: 100%;
	border-radius: 3px;
	background-color: #0077C5;
	border-color: #0077C5;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

/* The actual popup (appears on top) */
.descriptionPopup {
	visibility: hidden;
	background-color: #B5D3E7;
	position: absolute;
	width: 90%;
	height: 60%;
	z-index: 1;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #0077C5;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	border-radius: 3px;
}

.descriptionPopup p {
	margin: auto;
	line-height: 2em;
}

/* Popup arrow */
.descriptionPopup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.descriptionPopup.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

.surrenderTime {
	position: relative;
	width: 100%;
	height: 60%;
	display: flex;
}

.surrenderTime button {
	position: relative;
    height: 13.33%;
    width: 60%;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFC440;
	border-color: #FFC440;
	margin: auto;
	border-radius: 3px;
	font-weight: bold;
}

.endDebate {
	position: relative;
	width: 100%;
	height: 20%;
}

.endDebate button {
	position: relative;
    height: 40%;
    width: 60%;
	font-family: 'Montserrat', sans-serif;
	background-color: #C8362E;
	border-color: #C8362E;
	margin: auto;
	border-radius: 3px;
	font-weight: bold;
}

