* {
	margin: 0 0;
	padding: 0 0;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	
}

.mainPage {
	position: relative;
	width: 100%;
	height: 100%;
}

.mainHeader {
    position: relative;
	width: 100%;
	height: 10%;
    background-color: #3A3B3F;
}

.accountMain {
	position: relative;
	height: 10vh;
	width: 10vh;
	background-image: url("../images/account.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	float: right;
	margin-right: 10px;
}

.createAndSearch {
    position: relative;
	width: 100%;
	height: 70%;
	background-image: url("../images/mainPageBackground.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	opacity: 0.65;
	text-align: center;
}

.searchUsers {
	position: relative;
	width: 50%;
	text-align: center;
	display: inline-block;
	padding-top: 5%;
	font-family: 'Montserrat', sans-serif;
}

.searchUsers table {
	position: relative;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

.createDebateRoom {
	position: relative;
	width: 50%;
	text-align: center;
	display: inline-block;
	padding-top: 3%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
}

.popupDebateRoom {
	position: relative;
	width: 40%;
	height: 40px;
	background-color: red;
    display: inline-block;
	cursor: pointer;
	padding-top: 10px;
	border-radius: 3px;
}

/* The actual popup (appears on top) */
.createPopup {
	visibility: hidden;
    background-color: white;
	position: relative;
	width: 50%;;
	height: 55%;
	display: inline-block;
}

/* Popup arrow */
.createPopup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.createPopup.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
	animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.createPopup table{
	position: relative;
	width: 100%;
	height: 80%;
	text-align: center;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.createDebateButton {
	position: relative;
	width: 100%;
	height: 20%;
	background-color: green;
	text-align: center;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: white;
	display: flex;
}

.createDebateButton p {
	margin: auto;
}

.invitations {
    position: relative;
	width: 100%;
	height: 20%;
	background-color: white;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top: 1px solid black;
}

.invitationHeading {
	position: relative;
	width: 30%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	float: left;
	font-size: 140%;
	font-weight: bold;
	display: flex;
}

.invitationHeading p {
	margin: auto;
}

.invitationFromUsers {
	position: relative;
	width: 70%;
	height: 100%;
	float: right;
	display: flex;
}

.userInvitation {
	position: relative;
	width: 6vw;
  height: 6vw;
  border-radius: 10%;
  background: #FF6666;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 120%;
  margin: auto;
}

.userInvitation:hover  {
	background: grey;
}

.userInvitation a {
	position: relative;
	width: 100%;
  height: 100%;
  display: flex;
}
.userInvitation h1 {
	position: relative;
	width: 100%;
  height: 100%;
  text-align: center;
  font-size: 50%;
  margin: auto;
    }

.userInvitation a:link {
	color: white;
	text-decoration: none;
}


.userInvitation a:visited {
	color: white;
	text-decoration: none;
}

